/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "blueprint/liquid";
@import "compass/css3/box-shadow";
@import "blueprint/buttons";
@import "blueprint/typography";
@import "compass/css3/border-radius";
  
@include blueprint-typography();

.main {
  @include container();
}


.sidebar {
 @include column(4);
}

.taglist {
   list-style: none;
}

.taskboard {
  @include container();
  @include column(20, true);
}

.tasklane {
  @include column(8);
}

.tasklane:last-child {
  @include column(8, true);
}

.taskcard {
  position: relative;
  border: 1px solid gray;
  padding: 10px;
  min-height: 50px;
  background-color: rgb(255, 250, 173);
  @include single-box-shadow();
  cursor: pointer;
}

.cardeditor {

  padding-bottom: 0;
  margin-bottom: 10px;
  textarea {
    width: 100%;
    resize: vertical;
    background: none;
    border: medium none;
    box-shadow: none;
    height: 50px;
    margin: 0 0 4px;
    overflow-y: auto;
    padding: 0;
    outline: none;
  }
  
}



.spacer {
  min-height: 10px;
  margin: 5px 0 5px 0;
}

.spacer.over {
  min-height: 70px;
  border: 2px dashed #000;
}

button {
  @include button-button();
  @include button-colors(); 
  @include button-hover-colors();
}

.task-icons {
  position: absolute;
  bottom: 0px;
}

.bullet {
  border: 1px solid gray;
  @include border-radius(4px, 4px);
  min-width: 12px;
  min-height: 8px;
  display: inline-block;
}


[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.dragged {
  opacity: 0.4; 
}